PYTHON REVIEW

# variable

In [1]:
x = 2
print(type(x))

<class 'int'>

In [2]:
x = 2.5
print(type(x))

<class 'float'>

In [5]:
s = 'asdf'
print(type(s))

<class 'str'>

In [11]:
a,b = 4,5.2

In [12]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
b          float    5.2
s          str      asdf
x          float    2.5

In [13]:
y = 2 + 4j
print(type(y))

<class 'complex'>

# operator

In [15]:
11 // 3

3

In [16]:
2**3

8

In [18]:
x = "hello"
y = "world"
z = x +" "+ y
print(z)

hello world

# Bool

In [21]:
a = True
b = False

print(a and b)

False

# comparison

In [22]:
x = 4
y = 4

print(x!=y)

False

In [25]:
c = 2<3
print(c)
print(type(c))

True
<class 'bool'>

# some useful functions

In [26]:
print(round(5.67))

6

In [28]:
print(round(4.5567,3))

4.557

In [29]:
print(divmod(27,5))

(5, 2)

In [32]:
print(isinstance(1,int))

True

In [33]:
print(isinstance(1.0,int))

False

In [34]:
print(pow(2,4,7))

2

In [36]:
res = input("enter number")
print(res)
print(type(res))

enter number56
56
<class 'str'>

In [38]:
res = int(res)
print(type(res))

<class 'int'>

In [39]:
pow?

In [40]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

# Control flow

In [2]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print("still inside if condition")
print("outside of if condition")

10
45
outside of if condition

In [6]:
a = int(input())
b = int(input())
if a>b:
    print(a)
elif b>a:
    print(b)
else:
    print("equal")

10
56
56

In [10]:
a = int(input())
b = int(input())

a if a>b else b

10
8

10

# Loops

In [14]:
#While loops

n = int(input('Max iterations: '))
i=1
while i<=n:
    print(i)
    i+=1

Max iterations: 5
1
2
3
4
5

In [17]:
#for loops

lists = []
for i in range(0,10,2):
    print(i+1)
    lists.append(i**2)

print(lists)

1
3
5
7
9
[0, 4, 16, 36, 64]

In [24]:
# for else loop]

s = {"apple", 4.9,"cherry"} # dictionary
i=0
for x in s:
    print(x)
    i+=1
    if i==2:
        break
    else:
        pass
else:
    print("loop completes ")
print("outside")

cherry
4.9
outside

In [25]:
D = {
    "A": 10,
    "B": 20,
    "C": 30
}
for x in D:
    print(x,D[x])

A 10
B 20
C 30

In [28]:
'''sorting in ascending order'''
L = [1,3,2,7,4,5]
for j in range(len(L)):
    m=L[j]
    index=j
    c=j

    for i in range(j,len(L)):
        if L[i]<m:
            m=L[i]
            index = c
        c+=1
    tmp = L[j]
    L[j] = m
    L[index] = tmp
print(L)

[1, 2, 3, 4, 5, 7]

# Functions

In [32]:
def additionOfTwoNumbers(a,b):
    '''this function returns sum of two numbers'''
    return (a+b)

additionOfTwoNumbers(50,50)

100

In [33]:
additionOfTwoNumbers?

In [35]:
#addition of n numbers dynamic arguments
def add(*args):
    sum=0
    for i in range(len(args)):
        sum+=args[i]
    return sum

add(2,3,4,5)

14

In [5]:
#default values
def f(sum=0):
    print(sum)

f()
f(3)

0
3

# Modules

In [4]:
import sys
sys.path.append('D:/DataScience/')

import myUniversalFunction as myuf

myuf.addAllNumerics(2,3,4)

9

# String

In [6]:
s = "hello"
t = "world"
u = s + " " + t
print(u)

hello world

In [9]:
price = 12
s = "price"
t = s + "is: " + str(price)
print(t)

priceis: 12

In [22]:
# string indexing and slicing

a = "I am learning data science!!!"
print(a[3:8])
print(len(a))
print(a[10])
print(a[-4:-1])
print(a[0:10:2])

m lea
29
i
e!!
Ia er

In [26]:
#string manipulation
b = a.strip()
print(b)
print(b.lower())
d = b.replace("a","*")
print(d)

I am learning data science!!!
i am learning data science!!!
I *m le*rning d*t* science!!!

In [27]:
print("at" in "alskdfsladfat")

True

In [28]:
print("Hi \"alex\" hehe")

Hi "alex" hehe

# Data Structures

In [29]:
#List
L= [1,3,6,"name", 3]
#Tuple
T = (1,3,6,"name",3)
#Set
S = {1,3,6,"name",3}
#Dictionary
D = {
    "A": "Hello",
    23 : "World"
}

print(type(L))
print(type(T))
print(type(S))
print(type(D))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [30]:
L

[1, 3, 6, 'name', 3]

In [31]:
T

(1, 3, 6, 'name', 3)

In [32]:
S

{1, 3, 6, 'name'}

In [33]:
D

{'A': 'Hello', 23: 'World'}

In [38]:
myList = [x**2 for x in range(10)]
print(myList)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#example

def getDataFromUser():
    D = {}
    while True:
        studentId = input("enter student ID: ")
        marksList = input("enter the marks by comma separated values: ")
        moreStudents = input("Enter \"no\" to quit insertion: ")
        
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        
        if moreStudents.lower() == "no":
            return D

In [ ]:
studentData = getDataFromUser()

In [ ]:
studentData

# Lambda function

In [34]:
#it is a small anonymous function.
#A lambda function can take any number of arguments,
#but can only have on eexporession.

#lambda arguments: expression

x = lambda a : a + 10
print(x(5))

15

In [35]:
x = lambda a,b : a*b
print(x(5,6))

30

In [ ]:

#example